<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<div align="center">
    <div>
       <h1>Products</h1>
       <a href="new"  class="form_input">Add</a>
    </div>

    <div>&nbsp;</div>
    <div>
        <form th:action="@{/}">
            <input class="keyword" type="text" name="keyword" th:value="${keyword}" required/>
            &nbsp;
            <input class="form_input" type="submit" value="Search">
            &nbsp;
            <input  class="form_input" type="button" value="Clear" onclick="clearFilter()">
        </form>
    </div>

   <table class="content-table" th:width="1450px">
    <thead>
        <tr>
            <th th:width="150px">Product Id</th>
            <th th:width="150px">Name</th>
            <th th:width="150px">Manufacturer</th>
            <th th:width="150px">Country</th>
            <th th:width="150px">Price</th>
            <th th:width="500px">Description</th>
            <th th:width="200px">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product: ${listProducts}">
            <td th:text="${product.getId()}">Product Id</td>
            <td th:text="${product.getName()}">Name</td>
            <td th:text="${product.getManufacturer().getBrand()}">Manufacturer</td>
            <td th:text="${product.getManufacturer().getCountry()}">Country</td>
            <td th:text="${product.getPrice()}">Price</td>\
            <td th:text="${product.getDescription()}">Description</td>
            <td>
                <a th:href="@{'/edit/'+${product.getId()}}">Edit</a>
           &nbsp; &nbsp; &nbsp;
                <a th:href="@{'/delete/'+${product.getId()}}">Delete</a>
            </td>

        </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
    function clearFilter() {
           window.location= '/';
    }
</script>
</body>
</html>